main {
    width: 95%;
    max-width: 50rem;
    margin: 3rem auto;
    text-align: center;
}

main h1 {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    color: rgb(202, 158, 62);
}

main ul {
    list-style: none;
    margin: 3rem 0;
    padding: 0;
    display: flex;
}

main li {
    
}